/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Asegurando que no haya desbordamiento en el body */
body {
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171C26;
    padding: 1rem 2rem;
    position: relative;
}

.logo a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Asegura que el color del enlace herede el color del texto del logo */
}

.logo a:hover {
    text-decoration: none; /* Mantiene sin subrayado al pasar el ratón por encima */
}

.logo h1 {
    color: white;
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background 0.3s, color 0.3s, padding 0.3s;
}

.nav-links li a:hover {
    background-color: white;
    color: #171C26;
    border-radius: 5px;
    padding: 1rem 1.5rem;
}

.whatsapp-icon img {
    width: 24px;
    height: 24px;
}

.menu-icon {
    display: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 1175px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #171C26;
    }
    
    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        padding: 1rem 0;
    }

    .menu-icon {
        display: block;
    }
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Hero\ -\ copia.png');
    background-size: cover;
    background-position: center;
    height: 48vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; /* Cambiado para alinear el contenido a la izquierda */
    color: white;
    text-align: left; /* Cambiado para alinear el texto a la izquierda */
    padding-left: 120px; /* Espacio a la izquierda para el contenido */
}


.hero h1 {
    font-size: 5rem;
    margin: 0;
    margin-top: 50px;
}

.hero p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.hero-buttons {
    margin-top: 30px;
}

.btn {
    padding: 15px 20px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.btn-blue {
    background-color: #05044A;
}

.btn-blue:hover{
    background-color: #4A0404;
}

.btn-red {
    background-color: #4A0404;
}
.btn-red:hover{
    background-color: #05044A;
}

/* Media Queries para hacer el hero responsive */

@media (max-width: 878px) {
    .hero {
        align-items: flex-start; /* Mantener el contenido en la parte superior */
        justify-content: center; /* Alinear contenido en el centro horizontalmente */
        text-align: center; /* Centrar el texto */
        padding: 20px; /* Reducir el padding */
    }

    .hero-content {
        max-width: 90%; /* Asegurar que el contenido no se salga de la pantalla */
        margin-top: 20px; /* Añadir margen superior para separar del borde superior */
    }

    .hero h1 {
        font-size: 2.5rem; /* Reducir el tamaño del texto */
    }

    .hero p {
        font-size: 1.2rem; /* Reducir el tamaño del texto */
    }

    .btn {
        font-size: 0.9rem; /* Reducir el tamaño del texto del botón */
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2rem; /* Reducir aún más el tamaño del texto */
    }

    .hero p {
        font-size: 1rem; /* Reducir aún más el tamaño del texto */
    }

    .btn {
        padding: 8px 16px; /* Reducir el padding del botón */
        font-size: 0.8rem; /* Reducir el tamaño del texto del botón */
    }
}

/* CARROUSEL */
.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px; /* Añade margen alrededor de toda la sección */
    gap: 20px; /* Espacio entre el carrusel y el texto */
    background-color: #171C26;
    padding-top: 30px;
}

.carousel {
    position: relative;
    width: 110%; /* Ancho del carrusel */
    max-width: 1300px; /* Ancho máximo del carrusel */
    overflow: hidden;
    margin-bottom: 30px;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.carousel-item img {
    border-radius: 15px;
    width: 100%;
    height: 700px; /* Ajusta la altura de las imágenes aquí */
    object-fit: cover; /* Mantiene la relación de aspecto y recorta las imágenes si es necesario */

}

.description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.text-container {
    width: 40%; /* Ancho del contenedor de texto */
    padding: 70px;
    box-sizing: border-box;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 90px;
}

.text-container h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.text-container p {
    font-size: 1.4rem;
    line-height: 1.6;
}


.carousel-item video {
    width: 100%;
    height: 700px; /* Ajusta la altura del video */
    border-radius: 15px; /* Aplica el mismo borde redondeado que las imágenes */
}


@media (max-width: 1407px) {
    .container {
        flex-direction: column; /* Cambia a alineación vertical en pantallas pequeñas */
        align-items: center;
        gap: 0; /* Elimina el espacio entre el carrusel y el texto */
    }

    .carousel {
        width: 100%; /* Hace que el carrusel tome todo el ancho de la pantalla */
        max-width: none; /* Elimina el ancho máximo para el carrusel */
    }

    .text-container {
        width: 100%; /* Hace que el texto tome todo el ancho disponible */
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    .text-container h2 {
        text-align: center;
        font-size: 1.8rem; /* Reduce el tamaño del título en pantallas más pequeñas */
    }

    .text-container p {
        text-align: center;
        font-size: 1.2rem; /* Reduce el tamaño del párrafo en pantallas más pequeñas */
    }
}
/* FIN DEL CARROUSEL */

body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.swiper-container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    overflow: hidden; /* Ocultar los logos que se desplazan */
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    width: 200px; /* Ajusta el tamaño de los logos */
    height: auto;
    margin: 0 15px; /* Añadir márgenes laterales para evitar que se vean al principio y al final */
}
h2 {
    margin-top: 50px;
    font-size: 2.5rem;
}
h2 .highlight {
    color: #B71901;
}
.underline {
    width: 200px; /* Ajusta el ancho de la línea según sea necesario */
    height: 4px;
    background-color: #B71901;
    margin: 10px auto 0; /* Centra la línea y ajusta el margen */
}


footer {
    background-color: #171C26;
    color: white;
    padding: 20px 0;
}
.footer-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #171C26;
    padding-bottom: 20px;
}
.footer-column {
    flex: 1;
    margin: 20px;
    min-width: 200px;
    text-align: right; /* Alinea el texto a la derecha */
}
.footer-column h3 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
}
.footer-column h3::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #B71901;
    position: absolute;
    right: -10; /* Alinea la línea a la derecha */
    bottom: -5px;
}
.footer-column p, .footer-column a {
    color: #CCCCCC;
    text-decoration: none;
    line-height: 1.6;
}

.footer-column a {
    position: relative; /* Necesario para colocar el triángulo */
    padding-left: 20px; /* Espacio para el triángulo */
}
.footer-column a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #B71901; /* Color del triángulo */
}

.footer-column a:hover {
    color: #B71901;
}


/* Eliminar triángulo de los enlaces de redes sociales */
.redes .links-redes {
    position: relative; /* Necesario para colocar el triángulo */
    padding: 10px; /* Espacio para el triángulo */
}

.redes .links-redes::before {
    content: none; /* Elimina el triángulo */
}

.footer-column h4 {
    color: #B71901;
    margin-top: 20px;
    position: relative;
}
.footer-column h4::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: #B71901;
    position: absolute;
    right: 0; /* Alinea la línea a la derecha */
    bottom: -5px;
}
.footer-bottom {
    background-color: #171C26;
    color: #CCCCCC;
    text-align: center;
    padding: 10px 0;
    border-top: 3px solid #fff;
}
.footer-bottom a {
    color: #B71901;
    text-decoration: none;
}
.footer-bottom a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos al principio del contenedor en móviles */
        text-align: center; /* Centra el texto a la izquierda en dispositivos móviles */
    }
    .footer-column {
        text-align: center; /* Alinea el texto a la izquierda en dispositivos móviles */
        margin: 10px 15px; /* Ajusta el margen para móviles */
        position: static; /* Elimina el posicionamiento absoluto para móviles */
    }
    .footer-column h3::after, .footer-column h4::after {
        left: 0; /* Alinea la línea decorativa a la izquierda en dispositivos móviles */
        right: auto; /* Restablece el alineamiento de la línea decorativa en móviles */
        transform: none; /* Elimina el centrado de la línea decorativa */
    }
}